<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置MyBatis的全局配置-->
    <settings>
        <!--将_自动映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--设置类型别名  (类型别名不区分大小写)-->
    <typeAliases>
        <package name="com.pojo"/>
    </typeAliases>

    <!--插件-->
    <plugins>
        <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--引入映射文件-->
    <mappers>
        <package name="com.mapper"/>
    </mappers>
</configuration>